.panel-transparency {
    background-color: rgba(0,0,0,0);
    /*border-image: none;
    border: 0;
    background-image: none;*/
}

.corner-transparency {
    -panel-corner-background-color: rgba(0,0,0,0);
    -panel-corner-border-color: transparent;
}
