/* Used to remove odd effects when full transparency is needed. */

.panel-transparency {
  background-color: rgba(0, 0, 0, 0);
}

.dpt .panel-corner {
  -panel-corner-border-color: transparent;
  -panel-corner-border-width: 0;
}

.panel-effect-transparency {
  box-shadow: none;
  border: none;
  /* Gnome Shell specific CSS */
  background-gradient-direction: none;
  background-gradient-start: none;
  background-gradient-end: none;
}

/* Used to remove backgrounds when full transparency is needed. */

.panel-background-image-transparency {
  border-image: none;
  background-image: none;
}

/* Prevents overlapping of corners + top bar when using transparency */
.dpt.dpt-panel-hide-corners .panel-corner {
  -panel-corner-opacity: 0;
}
